<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
  </head>
  <body class="dead-center">
    <!-- add some space to the top e-->
    <br>

    <h1 class="title">404 Page not found</h1>
      
    <br>
    <div id="links">
      <a href="/">Home</a>
      <a href="https://github.com/hackermondev">GitHub</a>
    </div>
  </body>
</html>