<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>

    <link href="/static/style/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="center">
    <h1>Logs</h1>
    
    <% logs.forEach(function(log){ %>
      <span><%= log.route %> <%= log.ip %> <%= log.userAgent %></span><br>
    <% }) %>
  </body>
</html>