@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Tomorrow&display=swap');

:root{
  --main-bg-color: #2f3136;
  --main-text-color: white;
  --gray: gray;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.small{
  color: var(--gray);
  font-size: 15px;
}

.small-logo{
  color: var(--main-bg-color);
}

.center{
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: Tomorrow, 'Times New Roman', Times, serif;
}

p, code, span, a{
  font-family: 'Encode Sans SC', sans-serif;
}

.title{
  font-size: 3em;
}

/* Mobile */

@media (max-width: 500px) {
  #links a{
    display: block !important;
    margin: 10px
  }
}

#links a, button, input[type=button]{
  color: var(--main-text-color);

  border: 1px solid var(--main-text-color);
  border-radius: 10px 10px;

  text-decoration: none;
  padding: 5px 50px;
  
  transition: 0.5s;
}

#links a:hover, button:hover, input[type=button]:hover{
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  /* transform: scale(1.1); */
}
