#projects, #blogs {
  text-align: left;
}

#projects #projects-list, #blogs #blogs-list{
  margin: 0;
  padding: 0;
  /* text-align: center; */

  list-style-type: none;
}

#projects #projects-list .project a, #blogs #blogs-list .blog a{
  text-decoration: none;
  color: var(--main-text-color);

  font-size: 2em;
  /* border: 1px solid white; */
  /* border-radius: 10px 10px; */
  /* padding: 5px 50px; */
  
}

#projects #projects-list .project, #blogs #blogs-list .blog{
  /* text-decoration: none;
  color: white; */

  border: 1px solid var(--main-text-color);
  border-radius: 10px 10px;
  padding: 5px 50px;

  cursor: pointer;

  overflow: auto;
  
}

#projects #projects-list .project a:hover, #blogs #blogs-list .blog a:hover{
  /* background-color: white; */
  /* color: black; */

  text-decoration: underline var(--main-text-color);
}

/* Desktop */

@media (min-width: 1200px) {
  #projects, #blogs {
    margin-left: 50px;

    /* background-color: red; */
  }
  
  .little-left-margin{
    margin-left: 50px;
  }

  #projects #projects-list, #blogs #blog #blogs-list{
    display: grid;

    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-row-gap: 50px;
  }

  #projects #projects-list .project,  #blogs #blogs-list .blog{
    display: inline-block;

    width: 350px;
    height: 150px;
    padding: 25px 25px;
  }
}

/* Mobile */

@media (max-width: 500px) {
  #projects, #blogs {
    text-align: center;
    /* background: blue; */
  }
  
  #projects #projects-list .project, #blogs #blogs-list .blog{
    margin-top: 5px;
  }

  #projects #projects-list .project a, #blogs #blogs-list .blog a{
    display: block;

    font-size: 20px;
  }

  #projects #projects-list .project a:hover, #blogs #blogs-list .blog a:hover{
    color: black;
  }

  #projects #projects-list .project:hover, #blogs #blogs-list .blog:hover{
    background-color: var(--main-bg-color);

    color: black;
  }

  #projects #projects-list .project .description, #blogs #blogs-list .blog .description{
    display: none;
  }
}

.section-title{
  text-decoration: underline;
}
